{% if include.size == 'small' %}
{% assign size = 'small' %}
<ul class="cols2">
{% elsif include.size == 'smallest' %}
{% assign size = 'smallest' %}
<ul class="cols3">
{% else %}
{% assign size = 'normal' %}
<ul>
{% endif %}
    {% for item in site.data.inspirations %}
    {% if item.category == include.category %}
    <li>{% if item.flag %}{% capture flag %}{{ item.flag }}{% endcapture %}{% include flag.html flag=flag size=size %}{% endif %}{{ item.title }}</li>
    {% endif %}
    {% endfor %}
</ul>