.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  .top, .middle, .bottom {
    display: grid;
    grid-template-columns: auto 700px auto;
    grid-template-rows: auto;
  }
  .nav {
    display: flex;
    grid-area: 1 / 2 / 2 / 3;
    margin-left: .7rem;
    text-transform: lowercase;
    a, a:active, a:visited {
      text-decoration: none;
      &[target="_blank"]::after { content: none; }
      &[href]:where([href^="http"])::after { content: none; }
    }
    ul {
      align-items: center;
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li a, .active { padding: 0 .7rem; }
      .active {
        cursor: default;
        text-decoration: $color-primary underline 8%;
        text-underline-offset: 8%;
      }
    }
  }
  .top {
    grid-area: 1 / 1 / 2 / 2;
    margin: 2rem 0;
    .header {
      display: grid;
      grid-area: 1 / 2 / 2 / 3;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto;
      .icon {
        grid-area: 1 / 1 / 2 / 2;
        img {
          display: block;
          height: 5rem;
        }
      }
    }
  }
  .middle {
    grid-area: 2 / 1 / 3 / 2;
    .content {
      grid-area: 1 / 2 / 2 / 3;
      > div:last-child { margin-bottom: 1.5rem; }
      > img, > p img, .thumb img {
        display: block;
        margin: 0 auto;
      }
      > img, > p img {
        max-width: 700px;
        max-height: 350px;
      }
    }
  }
  .bottom {
    font-size: 1.6rem;
    grid-area: 3 / 1 / 4 / 2;
    margin: 3rem 0;
    .footer {
      display: grid;
      grid-area: 1 / 2 / 2 / 3;
      grid-template-columns: auto;
      grid-template-rows: auto;
      .info { grid-area: 1 / 1 / 2 / 2; }
      .nav { justify-content: right; }
    }
  }
}