// numbers in the comments below refer to their colour value in Material Design 3
$color-link: #eff1f1 !default; // 95
$color-highlight: #e1e3e3 !default; // 90
$color-primary: #c4c7c7 !default; // 80
$color-secondary: #a9acac !default; // 70
$color-tertiary: #8e9192 !default; // 60
$color-highlight-bg: #747878 !default; // 50
$color-border: #5c5f5f !default; // 40
$color-shade: #2e3132 !default; // 20
$color-bg: #191c1d !default; // 10

@import 'custom-theme.scss';