.wip {
  align-items: center;
  background: rgba(245, 130, 49, .4);
  color: #ffd8b1;
  cursor: default;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  gap: .5rem;
  justify-content: center;
  margin: 2rem 0;
  padding: .5rem;
}