---
---
@import 'theme.scss';

.container .middle {
  grid-template-rows: 400px auto;
  .header {
    align-items: center;
    background-color: $color-bg;
    background-position: center;
    background-size: cover;
    cursor: default;
    display: flex;
    grid-area: 1 / 1 / 2 / 4;
    div {
      color: $color-link;
      line-height: 1.2;
      margin: 0 auto;
      text-align: center;
      text-shadow: 0 0 .5rem $color-bg;
      h1 {
        color: $color-link;
        font-size: 6rem;
        font-weight: 600;
        letter-spacing: .08rem;
        margin: 0;
        text-transform: uppercase;
      }
      p { margin: 0; }
    }
  }
  .content { grid-area: 2 / 2 / 3 / 3; }
}