---
---
/* override theme defaults */

/* colour theme */
$color-highlight: #f5ded7; // 90
$color-highlight-bg: #85736e; // 50
$color-link: #ffede8; // 95
$color-primary: #d8c2bc; // 80
$color-secondary: #bca7a1; // 70
$color-tertiary: #a08c87; // 60
$color-border: #6c5b56; // 40
$color-shade: #3b2d29; // 20
$color-bg: #251915; // 10

@import "{{ site.theme }}";